@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 5px solid transparent !important;
  background: #a4a4a4;
  border-radius: 50px;
}

.react-datepicker {
  font-family: 'Poppins', sans-serif !important;
  border: none !important;
  border-radius: 1rem !important;
  background: transparent !important;
}

.react-datepicker__month-container {
  border: 1px solid #d8d8d8 !important;
  border-radius: 17px;
  background-color: white;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 17px !important;
}

.react-datepicker__header {
  padding: 10px !important;
  color: #a4a4a4 !important;
  border-top-left-radius: 17px !important;
  border-top-right-radius: 17px !important;
  border: none !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation--previous {
  top: 10px !important;
  left: 10px !important;
}

.react-datepicker__navigation--next {
  top: 10px !important;
  right: 93px !important;
}

.react-datepicker__day {
  color: #6b6b6b !important;
}

.react-datepicker__day-name {
  color: #a5a5a5 !important;
}

.react-datepicker__day--selected {
  color: white !important;
  background-color: rgb(139 92 246) !important;
}

.react-datepicker__day--disabled {
  color: #ccc !important;
}

.react-datepicker__current-month, .react-datepicker-time__header {
  color: #555555 !important;
  font-weight: 500 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: #6b6b6b !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  color: white !important;
  background-color: rgb(139 92 246) !important;
}

.react-datepicker__time-container {
  border-radius: 17px !important;
  border: 1px solid #d8d8d8 !important;
  margin-left: 3px;
}

.react-datepicker__time-container .react-datepicker__time {
  border-bottom-right-radius: 17px !important;
  border-bottom-left-radius: 17px !important;
}
